<div class="container">
    <div class="row">
        <h1 class="col-md-10 col-md-offset-1 text-center">My Goal: <%= current_user.goal_attempts.first.goal.goal_name %></h1>
    </div>

    <div>
        <p></p>
    </div>



    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
                <%= link_to "I had a Meeting", new_interaction_path, :type => "button", :class => "btn btn-default btn-success", :style => "white-space: normal" %>
                <%= link_to "I want to Request Feedback", "/interactions", :type => "button", :class => "btn btn-default btn-danger", :style => "white-space: normal" %>
                <%= link_to "I want to Give Feedback", new_feedback_give_path, :type => "button", :class => "btn btn-default btn-warning", :style => "white-space: normal" %>
            </div>
        </div>
    </div>

    <div>
        <p></p>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
                <%= link_to "My Progress", "#", :type => "button", :class => "btn btn-lg btn-block btn-primary" %>
        </div>
    </div>


</div>

