<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cohort.user_id %>
</p>

<p>
  <strong>Cohort name:</strong>
  <%= @cohort.cohort_name %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
