<%= form_for(@interaction) do |f| %>
  <% if @interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
      <% @interaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %><br>
  </div>
  <div class="field">
    <%= f.label :interaction_title %><br>
    <%= f.text_field :interaction_title %>
  </div>
  <div class="field">
    <%= f.label :interaction_date %><br>
    <%= f.datetime_select :interaction_date %>
  </div>
  <div class="field">
    <%= f.label :interaction_notes %><br>
    <%= f.text_area :interaction_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
