<h1>Feedback Opportunities</h1>

<table class="table">
  <thead>
    <tr>
      <th>Interaction</th>
      <th>Date</th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @interactions.each do |interaction| %>
      <% if interaction.user_id == current_user.id %>
        <tr>
          <td><%= interaction.interaction_title %></td>
          <td><%= interaction.interaction_date.strftime("%b %e") %></td>
          <td><%= interaction.interaction_notes %></td>
          <td><%= link_to '<i class="fa fa-search btn btn-info"></i>'.html_safe, interaction %></td>
          <td><%= link_to '<i class="fa fa-user-plus btn btn-success"></i>'.html_safe, new_feedback_request_path(:interaction_id => interaction.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interaction', new_interaction_path, class: "btn btn-success" %>
