<div class="row">
  <div class="col-md-12">
    <h1><%= @interaction.interaction_title %></h1>
    <h4><%= @interaction.interaction_date.strftime("%A, %B %e") %></h2>
    <p><%= @interaction.interaction_notes %></p>
  </div>
</div>
<!--<div class="row">
  <div class="col-md-12">
    <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
      <%= link_to "Request Feedback", new_feedback_request_path(:interaction_id => @interaction.id), :type => "button", :class => "btn btn-success", :style => "white-space: normal" %>
      <%= link_to "Edit this Interaction", edit_interaction_path(@interaction), :type => "button", :class => "btn btn-warning", :style => "white-space: normal" %>
      <%= link_to "Home Page", root_path, :type => "button", :class => "btn btn-default", :style => "white-space: normal" %>
    </div>
  </div>
</div>-->

<div class="row">
    <div class = "col-md-4">
        <%= link_to "Request Feedback", new_feedback_request_path(:interaction_id => @interaction.id), :type => "button", :class => "btn btn btn-lg btn-block btn-success", :style => "white-space: normal" %>
        <p>&nbsp;</p>
    </div>
    <div class = "col-md-4">
        <%= link_to "Edit this Intereaction", edit_interaction_path(@interaction), :type => "button", :class => "btn btn-lg btn-block btn-warning", :style => "white-space: normal" %>
        <p>&nbsp;</p>
    </div>
    <div class = "col-md-4">
        <%= link_to "Home Page", root_path, :type => "button", :class => "btn btn-lg btn-block btn-default", :style => "white-space: normal" %>
        <p>&nbsp;</p>
    </div>
</div>