<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @interaction.user_id %>
</p>

<p>
  <strong>Interaction title:</strong>
  <%= @interaction.interaction_title %>
</p>

<p>
  <strong>Interaction date:</strong>
  <%= @interaction.interaction_date %>
</p>

<p>
  <strong>Interaction notes:</strong>
  <%= @interaction.interaction_notes %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
