<div class="row">
  <div class="col-md-12">
    <h1><%= @interaction.interaction_title %></h1>
    <h4><%= @interaction.interaction_date.strftime("%A, %B %e") %></h4>
    <p><%= @interaction.interaction_notes %></p>
    <p>&nbsp;</p>
    <h4>Feedback Requests</h4>
    <% @interaction.requests.each do |request| %>
      <p><%= request.requestee.first_last %> &nbsp; <i class="fa <%= request.feedback_completed ? "fa-check" : "fa-times" %>"></i></p>
    <% end %>
    <p>&nbsp;</p>
  </div>
</div>

<div class="row">
    <div class = "col-md-4">
        <%= link_to "Request Feedback", new_feedback_request_path(:interaction_id => @interaction.id), :type => "button", :class => "btn btn btn-lg btn-block btn-success", :style => "white-space: normal" %>
        <p>&nbsp;</p>
    </div>
    <div class = "col-md-4">
        <%= link_to "Edit this Intereaction", edit_interaction_path(@interaction), :type => "button", :class => "btn btn-lg btn-block btn-warning", :style => "white-space: normal" %>
        <p>&nbsp;</p>
    </div>
    <div class = "col-md-4">
        <%= link_to "Home Page", root_path, :type => "button", :class => "btn btn-lg btn-block btn-default", :style => "white-space: normal" %>
        <p>&nbsp;</p>
    </div>
</div>