<%= form_for(@goal_attempt) do |f| %>
  <% if @goal_attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal_attempt.errors.count, "error") %> prohibited this goal_attempt from being saved:</h2>

      <ul>
      <% @goal_attempt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %><br>
  </div>
  <div class="field">
    <%= f.label :goal_id %><br>
    <%= f.collection_select(:goal_id, Goal.all, :id, :goal_name, {:selected => Goal.first, :class => "form-control" }) %>
  </div>
  <div class="field">
    <%= f.label :started_on %><br>
    <% Time.use_zone("Central Time (US & Canada)") do %>
      <%= f.datetime_select :started_on, class: "form-control" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.hidden_field :ended_on, :value => nil %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
