<h1>Received Requests</h1>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th colspan="2">Interaction</th>
      <th>Feedback note</th>
      <th>Complete feedback</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <% if request.requestee_id == current_user.id and !request.feedback_completed %>
        <tr>
          <td><%= "#{request.requestor.first_name} #{request.requestor.last_name}" %></td>
          <td><%= request.interaction.interaction_title %></td>
          <td><%= request.interaction.interaction_date.strftime("%b %e") %></td>
          <td><%= request.feedback_note %></td>
          <td><%= link_to '<i class="fa fa-user-plus btn btn-success"></i>'.html_safe, request %></td>
        </tr>
      <% end %> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
