<p id="notice"><%= notice %></p>

<p>
  <strong>Requestor:</strong>
  <%= @request.requestor_id %>
</p>

<p>
  <strong>Requestee:</strong>
  <%= @request.requestee_id %>
</p>

<p>
  <strong>Interaction:</strong>
  <%= @request.interaction_id %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @request.goal_id %>
</p>

<p>
  <strong>Feedback note:</strong>
  <%= @request.feedback_note %>
</p>

<p>
  <strong>Feedback completed:</strong>
  <%= @request.feedback_completed %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
