<!-- Simple full-width example-->

<div class="page-header">
  <h1>Request #<%= @request.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Requester</dt>
      <dd><%= @request.requester_id %></dd>

      <dt>Requested</dt>
      <dd><%= @request.requested_id %></dd>

      <dt>Goal</dt>
      <dd><%= @request.goal_id %></dd>

      <dt>Interaction</dt>
      <dd><%= @request.interaction_id %></dd>

      <dt></dt>
      <dd>
        <div class="btn-group">
          <a href="/requests" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>

          <a href="/requests/<%= @request.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_request/<%= @request.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </dd>
    </dl>

  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Request #<%= @request.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Requester</dt>
              <dd><%= @request.requester_id %></dd>

              <dt>Requested</dt>
              <dd><%= @request.requested_id %></dd>

              <dt>Goal</dt>
              <dd><%= @request.goal_id %></dd>

              <dt>Interaction</dt>
              <dd><%= @request.interaction_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/requests" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/requests/<%= @request.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_request/<%= @request.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
