<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :enterer_id, :value => current_user.id %><br>
  </div>
  <div class="field">
    <%= f.label :enteree_id %><br>
    <%= f.collection_select(:enteree_id, User.where.not(:id => current_user.id), :id, :last_name) %>
  </div>
  <div class="field">
  <!-- WILL NEED TO UPDATE WITH PROPER GOAL -->
    <%= f.hidden_field :goal_id, :value => current_user.goal_attempts.first.goal.goal_name %><br>
  </div>
  <div class="field">
    <%= f.label :interaction_id %><br>
    <%= f.number_field :interaction_id %>
  </div>
  <div class="field">
    <%= f.label :entry_date %><br>
    <%= f.datetime_select :entry_date %>
  </div>
  <div class="field">
    <%= f.label :entry_note %><br>
    <%= f.text_area :entry_note %>
  </div>
  <div class="field">
    <%= f.label :entry_rating %><br>
    <%= f.number_field :entry_rating %>
  </div>
<!--   <div class="field">
    <%= f.label :request_id %><br>
    <%= f.number_field :request_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% #TODO update so that we can pull up the proper interactions? %>
<% #TODO automatically tie to the proper request where valid %>
<% #TODO Fix goal entry %>
