<p id="notice"><%= notice %></p>

<h1>Listing Feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Enterer</th>
      <th>Enteree</th>
      <th>Goal</th>
      <th>Interaction</th>
      <th>Entry date</th>
      <th>Entry note</th>
      <th>Entry rating</th>
      <th>Request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.enterer_id %></td>
        <td><%= feedback.enteree_id %></td>
        <td><%= feedback.goal_id %></td>
        <td><%= feedback.interaction_id %></td>
        <td><%= feedback.entry_date %></td>
        <td><%= feedback.entry_note %></td>
        <td><%= feedback.entry_rating %></td>
        <td><%= feedback.request_id %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_feedback_path %>
