<!-- Validation failure messages -->

<% if @feedback.errors.any? %>
  <% @feedback.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Simple full-width example-->

<div class="page-header">
  <h1>Add Feedback</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_feedback" class="form-horizontal">
      <!-- Label and input for writer_id -->
      <div class="form-group">
        <label for="writer_id" class="col-sm-2 control-label">
          Writer
        </label>
        <div class="col-sm-10">
          <input type="text" id="writer_id" name="writer_id" placeholder="Writer" class="form-control" value="<%= @feedback.writer_id %>">
        </div>
      </div>

      <!-- Label and input for receiver_id -->
      <div class="form-group">
        <label for="receiver_id" class="col-sm-2 control-label">
          Receiver
        </label>
        <div class="col-sm-10">
          <input type="text" id="receiver_id" name="receiver_id" placeholder="Receiver" class="form-control" value="<%= @feedback.receiver_id %>">
        </div>
      </div>

      <!-- Label and input for goal_id -->
      <div class="form-group">
        <label for="goal_id" class="col-sm-2 control-label">
          Goal
        </label>
        <div class="col-sm-10">
          <input type="text" id="goal_id" name="goal_id" placeholder="Goal" class="form-control" value="<%= @feedback.goal_id %>">
        </div>
      </div>

      <!-- Label and input for interaction_id -->
      <div class="form-group">
        <label for="interaction_id" class="col-sm-2 control-label">
          Interaction
        </label>
        <div class="col-sm-10">
          <input type="text" id="interaction_id" name="interaction_id" placeholder="Interaction" class="form-control" value="<%= @feedback.interaction_id %>">
        </div>
      </div>

      <!-- Label and input for request_id -->
      <div class="form-group">
        <label for="request_id" class="col-sm-2 control-label">
          Request
        </label>
        <div class="col-sm-10">
          <input type="text" id="request_id" name="request_id" placeholder="Request" class="form-control" value="<%= @feedback.request_id %>">
        </div>
      </div>

      <!-- Label and input for qualitative_fb -->
      <div class="form-group">
        <label for="qualitative_fb" class="col-sm-2 control-label">
          Qualitative fb
        </label>
        <div class="col-sm-10">
          <textarea id="qualitative_fb" name="qualitative_fb" placeholder="Qualitative fb" class="form-control" rows="3"><%= @feedback.qualitative_fb %></textarea>
        </div>
      </div>

      <!-- Label and input for quantitative_fb -->
      <div class="form-group">
        <label for="quantitative_fb" class="col-sm-2 control-label">
          Quantitative fb
        </label>
        <div class="col-sm-10">
          <input type="text" id="quantitative_fb" name="quantitative_fb" placeholder="Quantitative fb" class="form-control" value="<%= @feedback.quantitative_fb %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Feedback" class="btn btn-success">
          or
          <a href="/feedbacks">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Feedback</h3>
      </div>
      <div class="panel-body">
        <form action="/create_feedback" class="form-horizontal">
          <!-- Label and input for writer_id -->
          <div class="form-group">
            <label for="writer_id" class="col-sm-2 control-label">
              Writer
            </label>
            <div class="col-sm-10">
              <input type="text" id="writer_id" name="writer_id" placeholder="Writer" class="form-control" value="<%= @feedback.writer_id %>">
            </div>
          </div>

          <!-- Label and input for receiver_id -->
          <div class="form-group">
            <label for="receiver_id" class="col-sm-2 control-label">
              Receiver
            </label>
            <div class="col-sm-10">
              <input type="text" id="receiver_id" name="receiver_id" placeholder="Receiver" class="form-control" value="<%= @feedback.receiver_id %>">
            </div>
          </div>

          <!-- Label and input for goal_id -->
          <div class="form-group">
            <label for="goal_id" class="col-sm-2 control-label">
              Goal
            </label>
            <div class="col-sm-10">
              <input type="text" id="goal_id" name="goal_id" placeholder="Goal" class="form-control" value="<%= @feedback.goal_id %>">
            </div>
          </div>

          <!-- Label and input for interaction_id -->
          <div class="form-group">
            <label for="interaction_id" class="col-sm-2 control-label">
              Interaction
            </label>
            <div class="col-sm-10">
              <input type="text" id="interaction_id" name="interaction_id" placeholder="Interaction" class="form-control" value="<%= @feedback.interaction_id %>">
            </div>
          </div>

          <!-- Label and input for request_id -->
          <div class="form-group">
            <label for="request_id" class="col-sm-2 control-label">
              Request
            </label>
            <div class="col-sm-10">
              <input type="text" id="request_id" name="request_id" placeholder="Request" class="form-control" value="<%= @feedback.request_id %>">
            </div>
          </div>

          <!-- Label and input for qualitative_fb -->
          <div class="form-group">
            <label for="qualitative_fb" class="col-sm-2 control-label">
              Qualitative fb
            </label>
            <div class="col-sm-10">
              <textarea id="qualitative_fb" name="qualitative_fb" placeholder="Qualitative fb" class="form-control" rows="3"><%= @feedback.qualitative_fb %></textarea>
            </div>
          </div>

          <!-- Label and input for quantitative_fb -->
          <div class="form-group">
            <label for="quantitative_fb" class="col-sm-2 control-label">
              Quantitative fb
            </label>
            <div class="col-sm-10">
              <input type="text" id="quantitative_fb" name="quantitative_fb" placeholder="Quantitative fb" class="form-control" value="<%= @feedback.quantitative_fb %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Feedback" class="btn btn-success">
              or
              <a href="/feedbacks">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
