<h1>Feedback for <%= Request.find_by(:id=>@request).requestor.first_last %> about <%= Request.find_by(:id=>@request).interaction.interaction_title  %> (<%= Request.find_by(:id=>@request).interaction.interaction_date.strftime("%b %e")  %>)</h1>

<%= render 'form' %>
<br>
<%= link_to 'Back', feedback_give_path %>
