<h1>Feedback for <%= Request.find_by(:id=>@request).requestor.first_name %> <%= Request.find_by(:id=>@request).requestor.last_name %> for <%= Request.find_by(:id=>@request).interaction.interaction_title  %> on <%= Request.find_by(:id=>@request).interaction.interaction_date.to_date  %></h1>

<%= render 'form' %>

<%= link_to 'Back', feedback_give_path %>
