<p id="notice"><%= notice %></p>

<h1>Thanks! Feedback complete for <%= @feedback.enteree.first_name %> <%= @feedback.enteree.last_name %> for <%= @feedback.interaction.interaction_title %></h1>
<p>
  <strong>Entry note:</strong>
  <%= @feedback.entry_note %>
</p>

<p>
  <strong>Entry rating:</strong>
  <%= @feedback.entry_rating %>
</p>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
            <%= link_to "Select new feedback request", feedback_give_path, :type => "button", :class => "btn btn-default btn-success", :style => "white-space: normal" %>
        </div>
    </div>
</div>
<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
