<p id="notice"><%= notice %></p>

<p>
  <strong>Enterer:</strong>
  <%= @feedback.enterer_id %>
</p>

<p>
  <strong>Enteree:</strong>
  <%= @feedback.enteree_id %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @feedback.goal_id %>
</p>

<p>
  <strong>Interaction:</strong>
  <%= @feedback.interaction_id %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @feedback.entry_date %>
</p>

<p>
  <strong>Entry note:</strong>
  <%= @feedback.entry_note %>
</p>

<p>
  <strong>Entry rating:</strong>
  <%= @feedback.entry_rating %>
</p>

<p>
  <strong>Request:</strong>
  <%= @feedback.request_id %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
